@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-grey: rgb(107, 112, 109);
  --plum: rgb(93, 62, 80, .9);
  --tan: #E7E2DD;
  --primary-dark: #282144;
  --primary-light: #66599b;
  --text-light: #d1cecc;
  --text-dark: #615954;
  --test-bg: rgba(40, 33, 68, 0.3);
}

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply font-[Helvetica] text-white
  }

  li {
    @apply p-4 text-lg
  }

  button {
    @apply px-4 py-2 border bg-gradient-to-r from-[var(--plum)] to-[var(--primary-light)] text-white
  }

  h1 {
    @apply text-xl font-bold
  }
}

body {
  background-color: var(--test-bg);
  background-image: url("https://images.pexels.com/photos/2291873/pexels-photo-2291873.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 15px;
}


.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(102, 96, 99, 0.5);
  border: .1vmin;
  border-radius: 1vmin;
  width: 70vh;
  padding-top: 7vh;
  background-color: rgba(102, 96, 99, 0.5);
  width: 80vh;
  margin-top: 8vh;
}

p.error-message {
  color: var(--primary-light);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2vmin;
  color: var(--text-light);
}

input {
  padding: 5vmin;
  font-size: 2vmin;
  border: .1vmin;
  border-radius: .5vmin;
  color: var(--text-dark);
}

input:focus {
  border-color: var(--primary-light);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--text-light);
  background-color: var(--primary-light);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

h1 {
  color: white;
}

ul {
  color: white;
  list-style-type: none;
}