@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-grey: rgb(107, 112, 109);
  --plum: #5d3e50;
  --tan: #E7E2DD;
  --primary-dark: #282144;
  --primary-light: #66599b;
  --text-light: #968c84;
  --text-dark: #615954;
}

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply font-[Helvetica]
  }

  li {
    @apply p-4 text-sm
  }

  button {
    @apply px-4 py-2 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white
  }

  h1 {
    @apply text-xl font-bold
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--primary-dark);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--plum);
  color: var(--text-dark);
  border: .1vmin;
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vmin;
  background-color: var(--plum);
  border: .1vmin;
  border-radius: 1vmin;
  width: 70vh;
}

p.error-message {
  color: var(--primary-light);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin;
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--primary-light);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--primary-light);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--primary-dark);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

h1, h2, p {
  color: white;
}

ul {
  color: white;
  list-style-type: none;
}