@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-grey: rgb(107, 112, 109);
  --plum: #5d3e50;
  --tan: #E7E2DD;
  --primary-dark: #282144;
  --primary-light: #66599b;
  --text-light: #968c84;
  --text-dark: #615954;
  --test-bg: rgba(40, 33, 68, 0.3);
}

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply font-[Helvetica]
  }

  li {
    @apply p-4 text-sm
  }

  button {
    @apply px-4 py-2 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white
  }

  h1 {
    @apply text-xl font-bold
  }
}

/* *, *:before, *:after {
  box-sizing: border-box;
} */

body {
  background-color: var(--test-bg);
  /* height: 100vh; */
}


.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vmin;
  background-color: var(--plum);
  border: .1vmin;
  border-radius: 1vmin;
  width: 70vh;
}

p.error-message {
  color: var(--primary-light);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2vmin;
  color: var(--text-light);
}

/* label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
} */

input {
  padding: 5vmin;
  font-size: 2vmin;
  border: .1vmin;
  border-radius: .5vmin;
  color: var(--text-dark);
}

input:focus {
  border-color: var(--primary-light);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--primary-light);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

h1 {
  color: white;
}

ul {
  color: white;
  list-style-type: none;
}